image: node:18

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - out/
    expire_in: 1 hour

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - mkdir -p public
    - cp -r out/* public/
  artifacts:
    paths:
      - public/
  only:
    - main

